#space
{
    height: 12px;
}
.Distance2
{
    height: 273px;
}

.fa-phone
{
    color: #00F4A2;
}


/* here is beginning of info from about.css */



.backroundProfile
{

  background-color: white;
    border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
 

}


#space
{
    height: 6px;
}



 #profileSpace
 {
height: 7.5%;
 }

 #profileSpace1
 {
height: 20%;
display: flex; 
         align-items: center; 
         justify-content: space-between;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
 }



#profilePic
{
    height: 30%;
}

@media only screen and (max-width: 890px)
 and (min-device-width: 414px) 
{
   
    #profilePic
 {
    height: 30%;
    /* width: 100%; */
    /* white-space: nowrap; */
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
     
 }
     }


     #profilePic1
{
    height: 60%;
}

@media only screen and (max-width: 890px)
 and (min-device-width: 414px) 
{
   
    #profilePic1
 {
    height: 60%;
    /* width: 100%; */
    /* white-space: nowrap; */
  
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background-image: url('../pictures/pic1.jpeg'); */
    /* background-size: cover; */
 }
     }

     #profilePic2
     {
         width: 33.33%;

        }
     

     @media only screen and (max-width: 890px)
      and (min-device-width: 414px) 
     {
        
         #profilePic2
      {
         width: 33.33%;
         /* width: 100%; */
         /* white-space: nowrap; */
         display: flex; 
         align-items: center; 
         justify-content: space-between;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: center;
          
      }
          }


 

#afterPicSpace
{
    height: 12.5%;
}

#profileContent
{
    width: 60%;
}

@media only screen and (max-width: 890px)
 and (min-device-width: 414px)
{
   
    #profileContent
    {
    
         height: 72.50%;
        /* white-space: nowrap; */
        
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-left: 70%;
        padding-right: 70%;
    }
        }

#imgProfile{
  border-radius: 1.8%;
  border: 5px solid #ECEFF8;
  /* height: 243px; */
 /* padding-top: 22.2%; */

 /* padding-bottom: 30%; */
 width: 96.6%;
}
#imgProfile2{

  /* height: 243px; */
 /* padding-top: 22.2%; */

 /* padding-bottom: 30%; */
 width: 90%;
}
#buttonProfile2
{
  border-radius: 1.8%;
  border: 5px solid #ECEFF8;
  /* height: 243px; */
 /* padding-top: 22.2%; */

 /* padding-bottom: 30%; */
 width: 90%;

}




#buttonProfile {
    
  font-size: larger;
  font-family: 'Futura';
  height: 678px;
  width: 100%;
  /* white-space: nowrap; */
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* padding-left: 6%; */
  /* padding-right: 6%; */
  border-radius: 1.8%;
  border: 10px solid #ECEFF8;
  }



  @media only screen and (max-width: 890px)
  and (min-device-width: 414px)
  {
    #buttonProfile
      {
   font-size: larger;
   font-family: 'Futura';
   height: 678px;
   width: 100%;
   display: flex; 
   align-items: center; 
   justify-content: space-between;
   /* flex-wrap: wrap; */
   white-space: nowrap;
   flex-direction: row;
   justify-content: center;
   border-radius: 1.8%;
   border: 10px solid #ECEFF8;  
   padding-top: 3px;
   padding-bottom: 1px;   
      }
    }
 
  #left
 {
width: 50%;
padding-left: 10.5%; 
 }

 @media only screen and (max-width: 890px)
 and (min-device-width: 414px)
 {
 #left
  {
 width: 100%;
padding-right: 48px;
padding-top: 6px;
/* padding-bottom: 1px; */
  }
   }

 #right
 {
width: 50%; 
   display: flex; 
   align-items: center; 
   justify-content: space-between;
   /* flex-wrap: wrap; */
   /* white-space: nowrap; */
   flex-direction: row;
   justify-content: center;

 }
 @media only screen and (max-width: 890px)
 and (min-device-width: 414px)
 {
  #right
  {
font-size: 0.09px;
       display: flex; 
       align-items: center; 
       justify-content: space-between;
       /* flex-wrap: wrap; */
       /* white-space: nowrap; */
       flex-direction: row;
       justify-content: center;
  
     }
   }


  div > p {
    margin: 0;
    width: 1500px;
  }
  

/* All media queries are done on this, only thing to check the nav bar is shrinking on media queries when contracted */
/* When checked there was no media query found there on Nav Bar its happening automatically on Browser */